<!doctype html>
<html lang="eng">
  <head>
    <meta charset="utf-8">
    <title>Auth</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </head>
  <body>
    <main class="main">
      <div class="container border col-md-5 p-3 mt-3" style="background-color: #EEEEEE;">
        <form action="#" method="post" role="form" class="form-horizontal p-3" enctype="multipart/form-data">
            <h2 class="text-center mb-4">Admin Authorization</h2>
            <div class="form-group">
              <label for="exampleInputEmail1">Login</label>
              <input type="email" class="form-control" id="inputLogin">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="inputPassword1">
            </div>
            <button type="button" class="btn btn-primary" name="addNewPerson" value="#" style="background: #7749F8; color: #ffffff">Sumbit</button>
        </form>
      </div>
    </main>
    <footer class="text-center" >
      <h4>php study, 2022</h4>
    </footer>
  </body>
</html>