<!doctype html>
<html lang="eng">
  <head>
    <meta charset="utf-8">
    <title>AdminPanel</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <nav class="navbar" style="background-color: #7749F8;">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" href="#" style="color:white">AdminPanel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color:white">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color:white">Link_1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color:white">Link_2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color:white">Link_3</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <h2>our team</h2>
      <div>
        <button type="button" class="btn btn-primary" name="addNewPerson" value="#" style="background: #7749F8; color: #ffffff">Add new person</button>
      </div>   
    </main>
    <footer class="footer">
      <h4>php study, 2022</h4>
    </footer>
  </body>
</html>





